name: Deploy Backend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Reload backend
        run: pm2 startOrReload ecosystem.config.cjs --update-env
